@model FoodOrdering.Web.Models.FoodTable

@{
    ViewData["Title"] = "Edit Food Information";
}
<div class="p-3 mb-2 bg-info text-white">
<center><h1>@ViewData["Title"]</h1></center>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Enter AdminUserName</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="FoodName" />
            <div class="form-group">
                <label asp-for="FoodPrice" class="control-label"></label>
                <input asp-for="FoodPrice" class="form-control" />
                <span asp-validation-for="FoodPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodType" class="control-label"></label>
                <input asp-for="FoodType" class="form-control" />
                <span asp-validation-for="FoodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
<div>
    <a asp-action="Index1" class="btn btn-success">Back to List</a>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
