<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <img src="~/imgs/logo.jpg" width="120"></img>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                       @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Admin Manage</a>
                            <div class="dropdown-menu">
                                   <a class="dropdown-item" 
                                   asp-area="Orders" asp-controller="FoodTables" asp-action="create">AddFood</a>
                                    <a class="dropdown-item" 
                                   asp-area="Orders" asp-controller="FoodTables" asp-action="index">Manage FoodItems</a>
                                    <a class="dropdown-item" 
                                   asp-area="Orders" asp-controller="OrderTables" asp-action="index1">Manage Odered Table</a>
                                   <a class="dropdown-item" 
                                   asp-area="Orders" asp-controller="AdminTables" asp-action="create">Add Admin Details</a>
                                   <a class="dropdown-item" 
                                   asp-area="Orders" asp-controller="CustomerTables" asp-action="index1">Manage Customer Details</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Custromer Manage</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" 
                                   asp-area="Orders" asp-controller="CustomerTables" asp-action="create">Register NewUser</a>
                                   <a class="dropdown-item" 
                                   asp-area="Orders" asp-controller="Ordertables" asp-action="create">Order Food</a>   
                                    <a class="dropdown-item" 
                                   asp-area="Orders" asp-controller="FoodTables" asp-action="index1">Show Menu</a>
                            </div>
                        </li>
                    </ul>
                </div>
                 
            </div>
            <a asp-area="Orders" asp-controller="CustomerTables" asp-action="create" class="btn btn-light">Register</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Voligi Arun Kumar- <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    </body>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</html>

